<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>

<body style="height: 100vh">
<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center">

        <h1 class="d-flex align-items-center fs-4 text-white mb-0"
            th:text="${admin.get().getName() + ' ' + admin.get().getSurname()} +' with roles: '+ ${admin.get().getRoles()}">
        </h1>

        <a th:href="@{/logout}" class="ms-auto link-secondary text-decoration-none" hreflang="ar">Logout</a>
    </div>

</header>
<!--общий контейнер для всего-->
<div class="container-fluid h-100">
    <div class="row h-100">
        <!--контейнер для боковой панели Юзер Админ-->
        <div class="col-md-2 g-0 py-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="admin-nav-link" data-bs-toggle="tab"
                       data-bs-target="#admin-panel" type="button" role="tab" aria-controls="admin-panel"
                       aria-selected="true">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/user"
                       type="button" role="tab" aria-controls="user-panel" aria-selected="false">User</a>
                </li>
            </ul>
        </div>
        <!--контейнер для содержимого кнопок боковой панели-->
        <div class="col-md-10 bg-light gx-5 py-3 tab-content">

            <!--контейнер для для правой части экрана-->
            <div class="tab-pane fade show active" id="admin-panel" role="tabpanel"
                 aria-labelledby="admin-nav-link"
                 tabindex="0">

                <h2>Admin panel</h2>

                <!-- список вкладок таблиц-->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/allUsers" id="users-table-tab" data-bs-toggle="tab"
                           data-bs-target="#users-table-pane" type="button" role="tab" aria-controls="users-table-pane"
                           aria-selected="true">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/addNewUser" type="button" role="tab" aria-controls="new-users-pane"
                           aria-selected="false">New User</a>
                    </li>
                </ul>
                <!--контейнер для содержимого вкладок таблиц-->
                <div class="tab-pane">
                    <!--содержимое вкладки Users Table-->
                    <div class="tab-pane fade show active" id="users-table-pane" role="tabpanel"
                         aria-labelledby="users-table-tab" tabindex="0">
                        <div class="card rounded-0">
                            <h5 class="card-header">All users</h5>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="text-align: center" scope="col">ID</th>
                                    <th style="text-align: center" scope="col">Name</th>
                                    <th style="text-align: center" scope="col">Surname</th>
                                    <th style="text-align: center" scope="col">Department</th>
                                    <th style="text-align: center" scope="col">Salary</th>
                                    <th style="text-align: center" scope="col">Email</th>
                                    <th style="text-align: center" scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>

                                <tr>

                                <tr th:each="user : ${allUsers}">
                                    <td style="text-align: center" th:text="${user.getId()}"></td>
                                    <td style="text-align: center" th:text="${user.getName()}"></td>
                                    <td style="text-align: center" th:text="${user.getSurname()}"></td>
                                    <td style="text-align: center" th:text="${user.getDepartment()}"></td>
                                    <td style="text-align: center" th:text="${user.getSalary()}"></td>
                                    <td style="text-align: center" th:text="${user.getEmail()}"></td>
                                    <td style="text-align: center" th:text="${user.getRoles()}"></td>

                                    <td>
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                data-bs-target="#modalEdit"
                                                th:data-bs-target="${'#modalEdit'+user.id}">Edit
                                        </button>
                                    </td>

                                <td>
                                    <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                                        <input type="submit" value="Delete" class="btn bg-danger"/>
                                    </form>
                                </td>

                                    <div class="modal fade" th:id="${'modalEdit'+user.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form id="formEdit" th:method="PATCH"
                                                      th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit user</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"></button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <div class="form-group required">
                                                            <div class="controls">

                                                                <p>
                                                                    <label for="idEditUser">
                                                                        <strong>ID</strong>
                                                                        <input class="form-control" th:type="number"
                                                                               th:name="id" id="idEditUser"
                                                                               th:value="${user.id}" disabled>
                                                                    </label>
                                                                </p>

                                                                <p>
                                                                    <label for="editUserFirstName">
                                                                        <strong>Name</strong>
                                                                        <input class="form-control" th:type="text"
                                                                               th:name="name"
                                                                               id="editUserFirstName"
                                                                               placeholder="Name"
                                                                               th:value="${user.name}" required>
                                                                    </label>
                                                                </p>

                                                                <p>
                                                                    <label for="editUserLastName">
                                                                        <strong>Surname</strong>
                                                                        <input class="form-control" th:type="text"
                                                                               th:name="surname"
                                                                               id="editUserLastName"
                                                                               placeholder="Surname"
                                                                               th:value="${user.surname}" required>
                                                                    </label>
                                                                </p>

                                                                <p>
                                                                    <label for="editUserDepartment">
                                                                        <strong>Department</strong>
                                                                        <input class="form-control" th:type="text"
                                                                               th:name="department"
                                                                               id="editUserDepartment"
                                                                               placeholder="Department"
                                                                               th:value="${user.department}" required>
                                                                    </label>
                                                                </p>

                                                                <p>
                                                                    <label for="editUserSalary">
                                                                        <strong>Salary</strong>
                                                                        <input class="form-control" th:type="number"
                                                                               th:name="salary"
                                                                               id="editUserSalary"
                                                                               placeholder="Salary"
                                                                               th:value="${user.salary}" required>
                                                                    </label>
                                                                </p>

                                                                <p>
                                                                    <label for="editUserEmail">
                                                                        <strong>Email</strong>
                                                                        <input class="form-control" th:type="email"
                                                                               th:name="email"
                                                                               id="editUserEmail" placeholder="Email"
                                                                               th:value="${user.email}" required>
                                                                    </label>
                                                                </p>

                                                                <p>
                                                                    <label for="editUserPassword">
                                                                        <strong>Password</strong>
                                                                        <input class="form-control" th:type="password"
                                                                               th:name="password"
                                                                               id="editUserPassword"
                                                                               placeholder="Password"
                                                                               th:value="${user.password}" required>
                                                                    </label>
                                                                </p>

                                                                <label class="container-fluid col-6"
                                                                       for="editUserRoles">
                                                                    <strong>Role</strong>
                                                                    <select id="editUserRoles" class="form-select"
                                                                            name="roles"
                                                                            multiple size="2">
                                                                        <option th:each="role: ${roles}"
                                                                                th:value="${role.getId()}" >
                                                                            <th:block th:text="${role.getName()}">
                                                                            </th:block>
                                                                        </option>
                                                                    </select>
                                                                </label>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" id="editFormCloseButton"
                                                                        class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>
</html>

