<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<h1>Welcome, <span th:text="${user.getName()}"></span>!</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr>
        <td style="text-align: center" th:text="${user.getName()}"></td>
        <td style="text-align: center" th:text="${user.getSurname()}"></td>
        <td style="text-align: center" th:text="${user.getDepartment()}"></td>
        <td style="text-align: center" th:text="${user.getSalary()}"></td>
        <td style="text-align: center" th:text="${user.getEmail()}"></td>
        <td style="text-align: center" th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>
    </tr>
</table>

<br>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>